<DOCTYPE html>
<html>
  <head>
    <title>Boop!</title>
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="dom">
      <h1>Boop!</h1>
      <p>What's your name?</p>
      <form id="name-form">
        <input id="name" type="text" placeholder="Anonymous"><br>
        <input type="submit" value="Submit!">
      </form>
    </div>
    <script src="/game/bundle.controller.js"></script>
  </body>
</html>

