<!DOCTYPE html>
<html>
  <head>
    <title>Boop!</title>
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="dom">
      <h1>Boop!</h1>
      <p id="room-id"></p>
      <p id="msg">Waiting for more players!</p>
      <form id="play-game">
        <input id="start" class="disabled" type="submit" value="Play!" disabled autofocus>
      </form>
      <div id="entry"></div>
    </div>
    <script src="/game/bundle.host.js"></script>
  </body>
</html>

