<!DOCTYPE html>
<html>
  <head>
    <title>Boop!</title>
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>Boop!</h1>
    <form id="invite-form" action="">
      <p>Join a room: </p>
      <input id="roomid-input" placeholder="Invite code" type="text"><br>
      <input type="submit" value="Play!">
    </form>
    <br>
    <form action="/create" method="GET">
      <p>Or, you can...</p>
      <input type="submit" value="Create a room!">
    </form>
    <script src="/game/bundle.home.js"></script>
  </body>
</html>

