@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto:100');

body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 120%;
  margin: 0;
}
canvas {
  width: 100%;
  height: 100%;
} 
.hide {
  display: none;
}
h1 {
  font-size: 3em;
  font-family: 'Pacifico', cursive;
  color: #14c4ff;
}
input[type="text"] {
  padding: 4px;
  font-size: 1em;
  margin-bottom: 12px;
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  border: 0;
  border-bottom: 1px solid #14c4ff;
  color: #14c4ff;
}
input[type="submit"] {
  font-size: 1em;
  margin: 5px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
  background-image: none;
  border-radius: 5px;
  border: 1px solid #14c4ff;
  color: #14c4ff;
}

input[type="submit"].disabled {
  cursor: wait;
  border-color: #ddd;
  color: #ddd;
}

.win-banner {
	position: absolute;
	z-index: 100;
  font-size: 2em;
	margin: 30px auto;
  width: 80%;
  background-color: rgba(255,255,255,0.1);
  font-family: 'Roboto', sans-serif;
  color: #222;
	right: 0;
	left: 0;
}

#winBannerHeader {
  margin: 20px 0;
}

input[type="submit"].replay-button {
  margin: 20px 0;
  border-color: #222;
  color: #222;
  font-size: 0.5em;
}
